n8n-workflows/NeoSC__10__E2E__Full_Flow_(Login_→_Instantiate_→_Wait_→_Poll_→_Verify).json
{
  "name": "NeoSC · 10 · E2E · Full Flow (Login → Instantiate → Wait → Poll → Verify)",
  "nodes": [
    {
      "parameters": {},
      "id": "d50b9297-8f4d-406f-bcdf-519da07fd91f",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8915825f-5548-48a1-870f-85f1f9b22288",
              "name": "api",
              "value": "https://action-steps-4.preview.emergentagent.com/api",
              "type": "string"
            },
            {
              "id": "057e954b-5da0-45f8-9e6a-b1de2a47e730",
              "name": "email",
              "value": "admin@windesk.cloud",
              "type": "string"
            },
            {
              "id": "224d4148-0ca7-415d-963b-be2a36c98d63",
              "name": "password",
              "value": "Admin123!",
              "type": "string"
            },
            {
              "id": "a12cc65a-4cc6-4dcc-88e0-63f7928ba609",
              "name": "template_id",
              "value": "14",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ded66048-75fb-408b-9983-b8ead7df96d5",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.api }}/auth/login",
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": false,
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        },
        "jsonBody": "={\n  \"email\": $json.email,\n  \"password\": $json.password\n}"
      },
      "id": "516703dd-cbcd-40e6-8e8c-0d2d59284e25",
      "name": "1. Login",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.api }}/market/templates/{{ $('Config').first().json.template_id }}/instantiate",
        "sendQuery": false,
        "sendHeaders": true,
        "sendBody": false,
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "jsonBody": "={\n  \"cpu\": 4,\n  \"memory\": 8192,\n  \"tsplus_users\": 3\n}"
      },
      "id": "4b292ffc-7fa7-4c30-8a74-5d033b4d8d81",
      "name": "2. Instantiate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "amount": 120,
        "unit": "seconds"
      },
      "id": "282dbe87-1785-48d2-aca1-9b5d3552fc5e",
      "name": "3. Wait 120s for provisioning",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1120,
        300
      ],
      "webhookId": "84f757eb-99e6-4428-a7d6-181a98b02d96"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').first().json.api }}/market/orders/{{ $('2. Instantiate').first().json.order_id }}/status",
        "sendQuery": false,
        "sendHeaders": true,
        "sendBody": false,
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('1. Login').first().json.access_token }}"
            }
          ]
        }
      },
      "id": "1c0bda74-c52e-4bcd-9ae2-0484ea2825c5",
      "name": "4. Poll Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst o = $('2. Instantiate').first().json;\nconst s = $input.first().json;\nconst vm = s.vm || {};\nreturn [{ json: {\n  status: s.order_status,\n  order_id: o.order_id,\n  vm_name: vm.name,\n  netbird_ip: vm.netbird_ip,\n  html5_url: vm.html5_access_url,\n  template_used: o.template && o.template.name,\n  total_steps: `${s.completed_steps}/${s.total_steps}`,\n  e2e_ok: s.order_status === 'active' && !!vm.netbird_ip && !!vm.html5_access_url,\n}}];\n"
      },
      "id": "af05718c-fd01-4c26-bdb9-130a91178180",
      "name": "5. E2E Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        300
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "1. Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Login": {
      "main": [
        [
          {
            "node": "2. Instantiate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Instantiate": {
      "main": [
        [
          {
            "node": "3. Wait 120s for provisioning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Wait 120s for provisioning": {
      "main": [
        [
          {
            "node": "4. Poll Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Poll Status": {
      "main": [
        [
          {
            "node": "5. E2E Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}