n8n-workflows/NeoSC__04__Marketplace__Poll_Provision_Status.json
{
  "name": "NeoSC · 04 · Marketplace · Poll Provision Status",
  "nodes": [
    {
      "parameters": {},
      "id": "81c300bd-564b-4839-8116-6f4191eb2c4b",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f9ae357a-86d6-41c3-87c6-924cd4fda5a6",
              "name": "api",
              "value": "https://action-steps-4.preview.emergentagent.com/api",
              "type": "string"
            },
            {
              "id": "8dbf94c9-1a2f-46f1-a043-7a9eb3b38a3f",
              "name": "email",
              "value": "admin@windesk.cloud",
              "type": "string"
            },
            {
              "id": "38da66ab-1727-4752-8fe4-c76888127a2b",
              "name": "password",
              "value": "Admin123!",
              "type": "string"
            },
            {
              "id": "15a4dfb1-769f-4160-baf4-072c1c7a0b28",
              "name": "order_id",
              "value": "REPLACE_WITH_ORDER_ID",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c67925e3-a38c-41bb-9edd-fadb47232e60",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.api }}/auth/login",
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": true,
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        },
        "bodyContentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "password",
              "value": "={{ $json.password }}"
            }
          ]
        }
      },
      "id": "7b15f0b7-0048-4252-980e-ef00f17aab73",
      "name": "Login",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').first().json.api }}/market/orders/{{ $('Config').first().json.order_id }}/status",
        "sendQuery": false,
        "sendHeaders": true,
        "sendBody": false,
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        }
      },
      "id": "4aa8dc7e-b1d9-4d9a-b467-5353f5d0bb12",
      "name": "Get Order Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst d = $input.first().json;\nconst vm = d.vm || {};\nreturn [{ json: {\n  order_status: d.order_status,\n  completed: `${d.completed_steps}/${d.total_steps}`,\n  steps: (d.steps || []).map(s => ({step: s.step_name, status: s.status})),\n  vm_name: vm.name,\n  netbird_ip: vm.netbird_ip,\n  html5_access_url: vm.html5_access_url,\n  netbird_dns_label: vm.netbird_dns_label,\n}}];\n"
      },
      "id": "7f9b57ba-1df6-4061-a1c6-e6f5f3bc0bf7",
      "name": "Pretty Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login": {
      "main": [
        [
          {
            "node": "Get Order Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Order Status": {
      "main": [
        [
          {
            "node": "Pretty Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}