n8n-workflows/NeoSC__01__Auth__Login_+_Get_Profile.json
{
  "name": "NeoSC · 01 · Auth · Login + Get Profile",
  "nodes": [
    {
      "parameters": {},
      "id": "41fba878-c6b1-47ac-bc17-d09298f367c5",
      "name": "▶ Click to run",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "14635eab-73db-4f74-90c8-e2ffe1eb8f9d",
              "name": "api",
              "value": "https://action-steps-4.preview.emergentagent.com/api",
              "type": "string"
            },
            {
              "id": "52ba9e54-7fa8-4cd0-aeee-d58c4684788e",
              "name": "email",
              "value": "admin@windesk.cloud",
              "type": "string"
            },
            {
              "id": "3345148a-7d55-4efb-ac51-004519486dca",
              "name": "password",
              "value": "Admin123!",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "af717831-28be-4815-b3e2-0c83270072dd",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.api }}/auth/login",
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": true,
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        },
        "bodyContentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "password",
              "value": "={{ $json.password }}"
            }
          ]
        }
      },
      "id": "b61c16e5-2ec3-49b0-b87c-7fdb9fea2dd3",
      "name": "Login (POST /auth/login)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').first().json.api }}/auth/me",
        "sendQuery": false,
        "sendHeaders": true,
        "sendBody": false,
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        }
      },
      "id": "3392bf96-525f-4992-8d7c-718aede12171",
      "name": "Get my profile (GET /auth/me)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ]
    }
  ],
  "connections": {
    "▶ Click to run": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Login (POST /auth/login)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login (POST /auth/login)": {
      "main": [
        [
          {
            "node": "Get my profile (GET /auth/me)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}