n8n-workflows/NeoSC__07__NetBird__Create_Setup_Key_(for_VM_auto-registration).json
{
  "name": "NeoSC · 07 · NetBird · Create Setup Key (for VM auto-registration)",
  "nodes": [
    {
      "parameters": {},
      "id": "2b117aca-7484-4a54-b916-ec6ebb4d77df",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b55697ff-5fde-474c-a222-825188f6efa9",
              "name": "key_name",
              "value": "n8n-test-key",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "98749329-d240-4734-aead-f3f39f7006fb",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.netbird.io/api/setup-keys",
        "sendQuery": false,
        "sendHeaders": true,
        "sendBody": true,
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token nbp_OJadsrm9YusgaWHrnWQpdZZydYffG811DIL9"
            }
          ]
        },
        "bodyContentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.key_name }}"
            },
            {
              "name": "type",
              "value": "reusable"
            },
            {
              "name": "expires_in",
              "value": 86400
            },
            {
              "name": "revoked",
              "value": false
            },
            {
              "name": "usage_limit",
              "value": 0
            },
            {
              "name": "ephemeral",
              "value": false
            }
          ]
        }
      },
      "id": "19c4f78d-520e-4966-a3d9-0c1f680f5d2e",
      "name": "Create Setup Key",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst d = $input.first().json;\nreturn [{ json: {\n  setup_key_id: d.id, key: d.key, name: d.name,\n  expires_at: d.expires, valid: d.valid, type: d.type,\n  install_cmd: `netbird up --setup-key ${d.key}`,\n}}];\n"
      },
      "id": "0a44390d-34e2-49b5-8948-7a7ed0cbdd1d",
      "name": "Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Create Setup Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Setup Key": {
      "main": [
        [
          {
            "node": "Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}