n8n-workflows/NeoSC__11__Health_Check__All_3rd-party_Services.json
{
  "name": "NeoSC · 11 · Health Check · All 3rd-party Services",
  "nodes": [
    {
      "parameters": {},
      "id": "037717d1-054b-461a-9345-9af35647dcef",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://action-steps-4.preview.emergentagent.com/api/health",
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": false,
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "e12fd05a-38bd-47a0-b606-23e0f78794ad",
      "name": "NeoSC Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        120
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://149.56.241.64:3000/api/health",
        "sendQuery": false,
        "sendHeaders": true,
        "sendBody": false,
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 9c632dc1ac0b26ab925717ba62a2b0e535476a1d1b57ecbd7b58aae84cbb9113"
            }
          ]
        }
      },
      "id": "9d7fdd05-8e30-4964-a6da-84c3e751a1fd",
      "name": "OpenNebula Wrapper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        260
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.netbird.io/api/users/current",
        "sendQuery": false,
        "sendHeaders": true,
        "sendBody": false,
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token nbp_OJadsrm9YusgaWHrnWQpdZZydYffG811DIL9"
            }
          ]
        }
      },
      "id": "3e84c051-d1f4-4e74-8f2d-c8aceded2e19",
      "name": "NetBird Cloud",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        400
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://beyondcloud-nxm7ab.us1.zitadel.cloud/v2/organizations/_search",
        "sendQuery": false,
        "sendHeaders": true,
        "sendBody": true,
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer NsXZCNkadmuKysEBT45K88gh8urvDjjwBJCWUhLzHdIAR1qiXbz5tQnV4rniPl12vOuzXMY"
            }
          ]
        },
        "bodyContentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "queries",
              "value": []
            },
            {
              "name": "limit",
              "value": 1
            }
          ]
        }
      },
      "id": "b4a85210-8b50-454e-bce8-8b2c7e19abe2",
      "name": "Zitadel Cloud",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        540
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "\nfunction asResult(label, item) {\n  if (!item) return { service: label, ok: false, reason: 'no response' };\n  const j = item.json || {};\n  const code = j.statusCode || (j.error ? 0 : 200);\n  return {\n    service: label,\n    http_status: code,\n    ok: code >= 200 && code < 400,\n    details: typeof j.body === 'object' ? JSON.stringify(j.body).slice(0,200) : (j.body || '').toString().slice(0,200),\n  };\n}\nconst out = [\n  asResult('NeoSC Backend', $('NeoSC Backend').first()),\n  asResult('OpenNebula Wrapper', $('OpenNebula Wrapper').first()),\n  asResult('NetBird Cloud', $('NetBird Cloud').first()),\n  asResult('Zitadel Cloud', $('Zitadel Cloud').first()),\n];\nconst all_ok = out.every(r => r.ok);\nreturn [{ json: { timestamp: new Date().toISOString(), all_ok, services: out } }];\n"
      },
      "id": "1c7b7b9d-013b-40d1-977c-2b1ed99bda7e",
      "name": "Aggregate Health",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        330
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "NeoSC Backend",
            "type": "main",
            "index": 0
          },
          {
            "node": "OpenNebula Wrapper",
            "type": "main",
            "index": 0
          },
          {
            "node": "NetBird Cloud",
            "type": "main",
            "index": 0
          },
          {
            "node": "Zitadel Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NeoSC Backend": {
      "main": [
        [
          {
            "node": "Aggregate Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenNebula Wrapper": {
      "main": [
        [
          {
            "node": "Aggregate Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NetBird Cloud": {
      "main": [
        [
          {
            "node": "Aggregate Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zitadel Cloud": {
      "main": [
        [
          {
            "node": "Aggregate Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}