n8n-workflows/NeoSC__12__Multi-Tenant__Get_Current_+_List_All.json
{
  "name": "NeoSC · 12 · Multi-Tenant · Get Current + List All",
  "nodes": [
    {
      "parameters": {},
      "id": "47d778b2-1a1f-498c-b9c0-d3c18317fd10",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ca08fe66-aa9b-4439-8a58-1a8ebb76af5f",
              "name": "api",
              "value": "https://action-steps-4.preview.emergentagent.com/api",
              "type": "string"
            },
            {
              "id": "297f5f31-8516-4412-ba85-e891f7fbdf90",
              "name": "email",
              "value": "admin@windesk.cloud",
              "type": "string"
            },
            {
              "id": "185e658c-fc85-4cbf-aa23-4a9c60593411",
              "name": "password",
              "value": "Admin123!",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3ec2dade-9876-4660-9066-05643c1e0b46",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.api }}/auth/login",
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": true,
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        },
        "bodyContentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "password",
              "value": "={{ $json.password }}"
            }
          ]
        }
      },
      "id": "1e613b9a-90ea-4014-a0a0-29d0e7514c7c",
      "name": "Login",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').first().json.api }}/tenants/me",
        "sendQuery": false,
        "sendHeaders": true,
        "sendBody": false,
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        }
      },
      "id": "34c0cc34-de08-47b1-8463-b75052da9a41",
      "name": "GET /tenants/me",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').first().json.api }}/tenants",
        "sendQuery": false,
        "sendHeaders": true,
        "sendBody": false,
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Login').first().json.access_token }}"
            }
          ]
        }
      },
      "id": "98a2f035-6754-4185-8be1-2ec47219a2d7",
      "name": "GET /tenants (admin)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        460
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login": {
      "main": [
        [
          {
            "node": "GET /tenants/me",
            "type": "main",
            "index": 0
          },
          {
            "node": "GET /tenants (admin)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}