n8n-workflows/NeoSC__08__Zitadel__List_Users_+_Orgs_(NeoGuard).json
{
  "name": "NeoSC · 08 · Zitadel · List Users + Orgs (NeoGuard)",
  "nodes": [
    {
      "parameters": {},
      "id": "f3906491-624f-47a8-9b3d-6ea9c3adf8f6",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://beyondcloud-nxm7ab.us1.zitadel.cloud/v2/users",
        "sendQuery": false,
        "sendHeaders": true,
        "sendBody": true,
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer NsXZCNkadmuKysEBT45K88gh8urvDjjwBJCWUhLzHdIAR1qiXbz5tQnV4rniPl12vOuzXMY"
            }
          ]
        },
        "bodyContentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "queries",
              "value": []
            },
            {
              "name": "limit",
              "value": 50
            }
          ]
        }
      },
      "id": "ad181cbb-3f1e-4591-a0b2-a4039672b75e",
      "name": "List Users (POST /v2/users)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://beyondcloud-nxm7ab.us1.zitadel.cloud/v2/organizations/_search",
        "sendQuery": false,
        "sendHeaders": true,
        "sendBody": true,
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer NsXZCNkadmuKysEBT45K88gh8urvDjjwBJCWUhLzHdIAR1qiXbz5tQnV4rniPl12vOuzXMY"
            }
          ]
        },
        "bodyContentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "queries",
              "value": []
            },
            {
              "name": "limit",
              "value": 50
            }
          ]
        }
      },
      "id": "80c1611f-f34c-4968-aa42-6154da70f1e9",
      "name": "List Orgs (POST /v2/organizations/_search)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// Use referenced inputs to combine two parallel calls\nconst u = $('List Users (POST /v2/users)').first().json;\nconst o = $('List Orgs (POST /v2/organizations/_search)').first().json;\nreturn [{ json: {\n  users_total: u.details && u.details.totalResult,\n  orgs_total: o.details && o.details.totalResult,\n  sample_users: (u.result || []).slice(0,5).map(x => ({\n    id: x.userId, email: x.human && x.human.email && x.human.email.email,\n    name: x.human && x.human.profile && x.human.profile.displayName, state: x.state\n  })),\n  orgs: (o.result || []).map(x => ({id: x.id, name: x.name, primaryDomain: x.primaryDomain})),\n}}];\n"
      },
      "id": "d8df26ab-0703-443a-b128-b578ae80a251",
      "name": "Merge users + orgs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        300
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "List Users (POST /v2/users)",
            "type": "main",
            "index": 0
          },
          {
            "node": "List Orgs (POST /v2/organizations/_search)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Users (POST /v2/users)": {
      "main": [
        [
          {
            "node": "Merge users + orgs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Orgs (POST /v2/organizations/_search)": {
      "main": [
        [
          {
            "node": "Merge users + orgs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}