n8n-workflows/NeoSC__09__Workspaces__List_User_VMs_+_Access_URLs.json
{
  "name": "NeoSC · 09 · Workspaces · List User VMs + Access URLs",
  "nodes": [
    {
      "parameters": {},
      "id": "497b0cd5-f01a-4662-90fe-c011c95c50ef",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3ba84a02-1717-49ef-b205-80776115625d",
              "name": "api",
              "value": "https://action-steps-4.preview.emergentagent.com/api",
              "type": "string"
            },
            {
              "id": "52361afa-8994-4a5f-bcb5-3f2328304c1b",
              "name": "email",
              "value": "admin@windesk.cloud",
              "type": "string"
            },
            {
              "id": "9b9341da-9f98-4cc4-94a7-50bfa726abaa",
              "name": "password",
              "value": "Admin123!",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "fdca5ce0-5a72-4ccf-a459-cedd5fdca059",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.api }}/auth/login",
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": true,
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        },
        "bodyContentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "password",
              "value": "={{ $json.password }}"
            }
          ]
        }
      },
      "id": "58e5ab8a-4217-4072-bc50-09e8ab603a80",
      "name": "Login",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').first().json.api }}/market/my-vms",
        "sendQuery": false,
        "sendHeaders": true,
        "sendBody": false,
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        }
      },
      "id": "076c2125-866f-4cfb-b293-affcbc1e2eb4",
      "name": "List my VMs (GET /market/my-vms)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst d = $input.first().json;\nconst vms = d.vms || [];\nreturn [{ json: {\n  total: vms.length,\n  vms: vms.map(v => ({\n    id: v.id, name: v.name, status: v.status,\n    source: v.source, netbird_ip: v.netbird_ip,\n    html5: v.connection_url || v.html5_access_url,\n    tsplus_licenses: v.tsplus_licenses,\n    vcpu: v.vcpu, ram_gb: v.ram_gb, disk_gb: v.disk_gb,\n  }))\n}}];\n"
      },
      "id": "3c133138-c28c-4f4b-8291-ce2552764af9",
      "name": "VM Catalog",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login": {
      "main": [
        [
          {
            "node": "List my VMs (GET /market/my-vms)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List my VMs (GET /market/my-vms)": {
      "main": [
        [
          {
            "node": "VM Catalog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}