n8n-workflows/NeoSC__10__E2E__Full_Flow_(Login_→_Instantiate_→_Wait_→_Poll_→_Verify).json
{
  "name": "NeoSC · 10 · E2E · Full Flow (Login → Instantiate → Wait → Poll → Verify)",
  "nodes": [
    {
      "parameters": {},
      "id": "53dd6820-4cc3-4fc9-97c2-f8e7a8bff593",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e63b90f1-93fe-4afc-bbd9-4c364ebba5b1",
              "name": "api",
              "value": "https://action-steps-4.preview.emergentagent.com/api",
              "type": "string"
            },
            {
              "id": "91e1ca6e-ae84-4c3f-bf11-11f000aeb302",
              "name": "email",
              "value": "admin@windesk.cloud",
              "type": "string"
            },
            {
              "id": "292c24e7-37fd-4832-8190-66b3dd95cd59",
              "name": "password",
              "value": "Admin123!",
              "type": "string"
            },
            {
              "id": "510286c8-8e7b-45f6-9eef-6bad6fdfec7d",
              "name": "template_id",
              "value": "14",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8b132381-4519-48e1-8034-72535af180ce",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.api }}/auth/login",
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": true,
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        },
        "bodyContentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "password",
              "value": "={{ $json.password }}"
            }
          ]
        }
      },
      "id": "fbfb651d-e5db-4088-b92c-eec1e15f9a1d",
      "name": "1. Login",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.api }}/market/templates/{{ $('Config').first().json.template_id }}/instantiate",
        "sendQuery": false,
        "sendHeaders": true,
        "sendBody": true,
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "bodyContentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "cpu",
              "value": 4
            },
            {
              "name": "memory",
              "value": 8192
            },
            {
              "name": "tsplus_users",
              "value": 3
            }
          ]
        }
      },
      "id": "2d07bbd7-f097-4694-8426-ca046a7c4df1",
      "name": "2. Instantiate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "amount": 120,
        "unit": "seconds"
      },
      "id": "6f70170d-ae8b-4e65-bd12-3269f1c53d8f",
      "name": "3. Wait 120s for provisioning",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1120,
        300
      ],
      "webhookId": "895de8a2-8e26-4930-808f-cdb47e065168"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').first().json.api }}/market/orders/{{ $('2. Instantiate').first().json.order_id }}/status",
        "sendQuery": false,
        "sendHeaders": true,
        "sendBody": false,
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('1. Login').first().json.access_token }}"
            }
          ]
        }
      },
      "id": "4d6e2549-ef5a-48d3-ac52-e08355e0dc39",
      "name": "4. Poll Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst o = $('2. Instantiate').first().json;\nconst s = $input.first().json;\nconst vm = s.vm || {};\nreturn [{ json: {\n  status: s.order_status,\n  order_id: o.order_id,\n  vm_name: vm.name,\n  netbird_ip: vm.netbird_ip,\n  html5_url: vm.html5_access_url,\n  template_used: o.template && o.template.name,\n  total_steps: `${s.completed_steps}/${s.total_steps}`,\n  e2e_ok: s.order_status === 'active' && !!vm.netbird_ip && !!vm.html5_access_url,\n}}];\n"
      },
      "id": "ecef592a-431f-4090-9ded-9a6289f4bcb8",
      "name": "5. E2E Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        300
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "1. Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Login": {
      "main": [
        [
          {
            "node": "2. Instantiate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Instantiate": {
      "main": [
        [
          {
            "node": "3. Wait 120s for provisioning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Wait 120s for provisioning": {
      "main": [
        [
          {
            "node": "4. Poll Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Poll Status": {
      "main": [
        [
          {
            "node": "5. E2E Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}