n8n-workflows/NeoSC__09__Workspaces__List_User_VMs_+_Access_URLs.json
{
  "name": "NeoSC · 09 · Workspaces · List User VMs + Access URLs",
  "nodes": [
    {
      "parameters": {},
      "id": "e39d58b1-45fe-4bd6-9624-8c7646aa94cc",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "099dc59c-5035-4849-862e-76d08c65844d",
              "name": "api",
              "value": "https://action-steps-4.preview.emergentagent.com/api",
              "type": "string"
            },
            {
              "id": "bc1c91db-b28f-4dbc-bcf2-acecb105eb66",
              "name": "email",
              "value": "admin@windesk.cloud",
              "type": "string"
            },
            {
              "id": "dcdd9e02-6493-48a5-8bbe-bb80b75a49c8",
              "name": "password",
              "value": "Admin123!",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8dff6492-4639-4ed2-b548-b5fb03f340f4",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.api }}/auth/login",
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": false,
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        },
        "jsonBody": "={\n  \"email\": $json.email,\n  \"password\": $json.password\n}"
      },
      "id": "f0b491d8-c041-47da-a2f1-9b39c8eefbdf",
      "name": "Login",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').first().json.api }}/market/my-vms",
        "sendQuery": false,
        "sendHeaders": true,
        "sendBody": false,
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        }
      },
      "id": "e7cf6bd2-5de0-4edc-a7b9-9235d9ec565d",
      "name": "List my VMs (GET /market/my-vms)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst d = $input.first().json;\nconst vms = d.vms || [];\nreturn [{ json: {\n  total: vms.length,\n  vms: vms.map(v => ({\n    id: v.id, name: v.name, status: v.status,\n    source: v.source, netbird_ip: v.netbird_ip,\n    html5: v.connection_url || v.html5_access_url,\n    tsplus_licenses: v.tsplus_licenses,\n    vcpu: v.vcpu, ram_gb: v.ram_gb, disk_gb: v.disk_gb,\n  }))\n}}];\n"
      },
      "id": "4a6007aa-7007-4643-a198-330cc1f6203b",
      "name": "VM Catalog",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login": {
      "main": [
        [
          {
            "node": "List my VMs (GET /market/my-vms)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List my VMs (GET /market/my-vms)": {
      "main": [
        [
          {
            "node": "VM Catalog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}