n8n-workflows/NeoSC__03__Marketplace__Instantiate_Template_14_(Starter).json
{
  "name": "NeoSC · 03 · Marketplace · Instantiate Template 14 (Starter)",
  "nodes": [
    {
      "parameters": {},
      "id": "769b2107-c51b-4f3f-8058-37be062e1ce1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ed191d23-4e3f-45eb-b2ae-c27347b524c5",
              "name": "api",
              "value": "https://action-steps-4.preview.emergentagent.com/api",
              "type": "string"
            },
            {
              "id": "eef258e4-4d15-452f-a136-acea4f087a32",
              "name": "email",
              "value": "admin@windesk.cloud",
              "type": "string"
            },
            {
              "id": "8a3e0e4b-b2ad-4379-9659-89198c6f5eec",
              "name": "password",
              "value": "Admin123!",
              "type": "string"
            },
            {
              "id": "59150401-9bf9-4137-bc9a-97783d74f098",
              "name": "template_id",
              "value": "14",
              "type": "string"
            },
            {
              "id": "f52c2103-d2f1-4220-b47a-dc54c6455240",
              "name": "cpu",
              "value": "4",
              "type": "string"
            },
            {
              "id": "f9d8a334-40bf-4b98-9322-089b20152edb",
              "name": "memory_mb",
              "value": "8192",
              "type": "string"
            },
            {
              "id": "59adec3d-a8fc-48c9-bf1c-e8b7ed4fae5e",
              "name": "tsplus_users",
              "value": "3",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a82b6e9d-dfcb-40ea-add5-c86c7c623227",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.api }}/auth/login",
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": true,
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        },
        "bodyContentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "password",
              "value": "={{ $json.password }}"
            }
          ]
        }
      },
      "id": "ef0bd9fa-dbfb-4132-9a30-0930b5f43153",
      "name": "Login",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.api }}/market/templates/{{ $('Config').first().json.template_id }}/instantiate",
        "sendQuery": false,
        "sendHeaders": true,
        "sendBody": true,
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "bodyContentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "cpu",
              "value": "={{ parseInt($('Config').first().json.cpu) }}"
            },
            {
              "name": "memory",
              "value": "={{ parseInt($('Config').first().json.memory_mb) }}"
            },
            {
              "name": "tsplus_users",
              "value": "={{ parseInt($('Config').first().json.tsplus_users) }}"
            }
          ]
        }
      },
      "id": "f5cd1d86-e894-4be9-ae64-0b63eac531e4",
      "name": "Instantiate VM (POST /market/templates/{id}/instantiate)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst o = $input.first().json;\nreturn [{ json: {\n  status: 'order_created',\n  order_id: o.order_id,\n  vm_name: o.vm_name,\n  template: o.template && o.template.name,\n  total_usd: o.total_usd,\n  next_step: `Poll /market/orders/${o.order_id}/status until status=active`\n}}];\n"
      },
      "id": "550cbfaf-419e-4aa5-9c39-eda525ca1b09",
      "name": "Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login": {
      "main": [
        [
          {
            "node": "Instantiate VM (POST /market/templates/{id}/instantiate)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instantiate VM (POST /market/templates/{id}/instantiate)": {
      "main": [
        [
          {
            "node": "Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}