n8n-workflows/NeoSC__12__Multi-Tenant__Get_Current_+_List_All.json
{
  "name": "NeoSC · 12 · Multi-Tenant · Get Current + List All",
  "nodes": [
    {
      "parameters": {},
      "id": "6f81e993-9a25-443f-9131-dbf8941e1db5",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1522b83-8194-4351-b5b6-bb2a981650ee",
              "name": "api",
              "value": "https://action-steps-4.preview.emergentagent.com/api",
              "type": "string"
            },
            {
              "id": "c69ecd5f-f7ef-4ad8-856c-1833547aea80",
              "name": "email",
              "value": "admin@windesk.cloud",
              "type": "string"
            },
            {
              "id": "d4155e60-8347-4716-b1b9-19668a5a8492",
              "name": "password",
              "value": "Admin123!",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ead20ba2-4766-43c9-9ad1-e2dcfed5bd84",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.api }}/auth/login",
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": false,
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        },
        "jsonBody": "={\n  \"email\": $json.email,\n  \"password\": $json.password\n}"
      },
      "id": "49c7d940-2183-41ce-a88f-3e2fc00e94f0",
      "name": "Login",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').first().json.api }}/tenants/me",
        "sendQuery": false,
        "sendHeaders": true,
        "sendBody": false,
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        }
      },
      "id": "38bef23c-8510-483c-9149-efbb198abb2d",
      "name": "GET /tenants/me",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').first().json.api }}/tenants",
        "sendQuery": false,
        "sendHeaders": true,
        "sendBody": false,
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Login').first().json.access_token }}"
            }
          ]
        }
      },
      "id": "6d80f8b7-3d24-470a-9944-6e08f5304891",
      "name": "GET /tenants (admin)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        460
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login": {
      "main": [
        [
          {
            "node": "GET /tenants/me",
            "type": "main",
            "index": 0
          },
          {
            "node": "GET /tenants (admin)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}